*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{width:100vw;height: 100vh;}
html{scroll-behavior: smooth;}

body{
    font-family: "Product Sans Thin", "Raleway", "Poppins", "Noto Sans", "Oswald", "Open Sans", Arial, sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 1.1rem;
    color: #303030;
}
// Other
::selection{
    background: #56c195;
    color: #f8f8f8;
}

// Scroll
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background: rgb(240, 240, 240);
}
::-webkit-scrollbar-thumb{
    background: rgb(205, 205, 205);
    border-radius: 10px;
}

// Navigation
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    z-index: 997;
    width: 100vw;
    min-height: 10vh;
    border-bottom: 1px solid #d1d1d1;
    background: #f6f6f6;
    .logo{
        margin-right: 15%;
        .logo-title{
            font-family: "Noto Sans";
            font-size: 24px;
            font-weight: 400;
            letter-spacing: 0px;
        }
    }
    .nav-list-box{
        position: fixed;
        top: 0;right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        width: 70vw;
        height: 100vh;
        background: #EFEFEF;
        z-index: 999;

        transform: translateX(100%);
        transition: .5s ease;
        .nav-list{
            position: absolute;
            top: 18vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
    
            z-index: 998;
            width: 95%;
            height: 50%;
            .list-item{
                list-style: none;
                opacity: 0;
                a{
                    padding: 30px;
                    font-family: "Product Sans Light Regular";
                    font-size: 1.6rem;
                    color: #202020;
                    text-decoration: none;
                }
            }
        }
    }
}

.nav-list-box[active]{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

// Hamburger Menu
.hamburger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 15%;
    width: 60px;
    height: 60px;
    z-index: 1000;
    cursor: pointer;
}

.hamburger-line{
    position: relative;
    display: block;
    width: 30px;
    height: 1px;
    background: #303030;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s ease;
}
.hamburger-line::before,
.hamburger-line::after{
    content: '';
    position: absolute;
    display: block;
    width: 30px;
    height: 1px;
    background: #303030;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s ease;
}
.hamburger-line::before{top: -10px;}
.hamburger-line::after{top: 10px;}

.hamburger[hamburger-active]{
    .hamburger-line{
        background: rgba(0,0,0,0);
        box-shadow: none;
        &::after{
            top: 0;
            transform: rotate(45deg);
        }
        &::before{
            top: 0;
            transform: rotate(135deg);
        }
    }
}

// Main
main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100vw;
    min-height: 100vh;
    background: #fdfdfd;
}

// Header
header.main-header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100vw;
    min-height: 70vh;
    max-height: 90vh;
    div.header-text{
        margin: 15% 0 0 5vw;
        line-height: 45px;
        .header-title{
            font-family: "Raleway";
            font-weight: 200;
            font-size: 48px;
            letter-spacing: -1px;
            .header-title-bold{
                font-weight: 400;
            }
        }
        .header-paragraph{
            font-family: "Oswald";
            font-size: 28px;
            font-weight: 300;
            margin-left: 3px;
        }
    }
}

// Arrow-down
.btn-box{
    position: absolute;
    bottom: 2vh;
    left: 0;
    display: flex;
    justify-content: center;

    width: 100vw;
    height: 70px;
    .slide-btn-box{
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 70px;
        height: 70px;
        .slide-btn{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 60px;
            height: 60px;
            border-radius: 100px;
            background: rgb(250, 250, 250);
            box-shadow: 0px 0px 8px rgba(0,0,0,.3);
            transition: background .4s .1s ease-in-out;
            &:hover{background: rgb(245, 245, 245);}
            
            .slide-arrow{
                cursor: pointer;
                display: block;
                width: 1px;
                height: 23px;
                border-radius: 1px;
                background: #303030;
                z-index: 500;
                &::before,
                &::after{
                    content: '';
                    display: block;
                    width: 1px;
                    height: 13px;
                    border-radius: 1px;
                    background: #303030;
                }
                //&::before{transform:translate(430%, 110%) rotate(45deg);}
                //&::after{transform: translate(-430%, 10%) rotate(-45deg);}
                &::before{transform: translate(440%, 94%) rotate(45deg);}
                &::after{transform: translate(-440%, -6%) rotate(-45deg);}
            }
        }
    }
}

// Article - Premise Section
section.premise{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100vw;
    min-height: 80vh;
    max-height: 100vh;

    .premise-text{
        display: flex;
        flex-direction: column;
        margin: 2vh;
        .premise-title{
            font-family: "Open Sans";
            font-size: 32px;
            font-weight: 300;
            line-height: 38px;

            .premise-title-underline{
                display: block;
                margin-left: 6px;
                width: 104px;
                height: 1px;
                background: #303030;
            }
        }
        .premise-paragraph{
            font-family: "Poppins";
            font-size: 18px;
            font-weight: 300;
            line-height: 25px;

            margin: 10px 0px 0px 10px;
        }
    }
}

// Premise Boxes
.premise-section-boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;

    width: 100vw;
    max-height: 100vh;

    .premise-boxes{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        
        min-width: auto;
        max-width: 200vw;
        margin: 2rem 0 1.2rem;
        box-sizing: content-box;
        scroll-behavior: smooth;

        .premise-box{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;

            margin: 0 1rem;
            width: 330px;
            height: 372px;
            border-radius: 16px;
            background: #f4f4f4;
            box-shadow: 0px 2px 2px rgba(0,0,0,.2);
            .premise-box-img{
                width: 100%;
                height: 200px;
                border-radius: 16px 16px 0 0;
                
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-origin: border-box;
            }
            .premise-box-text{
                display: flex;
                flex-direction: column;

                margin: 8px 18px;
                font-family: "Open Sans";
                .premise-box-title{
                    font-size: 28px;
                    font-weight: 300;
                    line-height: 37px;
                }
                .premise-box-paragraph{
                    font-size: 19px;
                    font-weight: 300;
                    line-height: 22px;
                    margin-top: 5px;
                    text-align: left;
                }
            }
        }
    }
}
.premise-box.box1{
    .premise-box-img{background-image: url("../../img/bg1.jpg");}
}
.premise-box.box2{
    .premise-box-img{background-image: url("../../img/bg2.jpg");}
}

// Order Premise Box
.order-premise-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    width: 100vw;
    height: 4rem;
    background: #f4f4f4;
    .order-premise-box{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;

        width: 80px;height: 100%;
        .order-circle{
            display: block;
            width: 8px;height: 8px;
            border-radius: 100px;
            margin: 0 5px;
            padding: 1px;
            background: rgba(0, 0, 0, 0.2);
            &[active]{
                transform: scale(1.8);
            }
        }
    }
}


// Learn More Button
a.learn-more{
    display: inline-block;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    
    width: 120px;
    height: 30px;
    margin-top: 36px;
    border-radius: 7px;
    color: #4285F4;
    &:hover,
    &:focus{
      background: rgba(66, 134, 244, 0.4);
    }
}

// Footer
footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin-top: 4rem;
    width: 100vw;
    height: 15vh;
    background: #fdfdfd;
    .top-footer{
        width: 80%;
        height: 3.5px;
        margin-bottom: 5%;
        border-radius: 10px;
        background: #d2d2d2;
    }
    .footer-text{
        // margin-bottom: 5vh; /* Wrong */
    }
}

// Media Query
@media screen and (min-width: 320px){
    .logo{
        margin: 0 0 0 5%;
        .logo-title{
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0px;
        }
    }
    header.main-header{
        height: 100vh;
        .header-text{
            margin: 15% 0 0 1vw;
            transform: scale(0.9);
        }
    }
    section.premise{
        height: 100vh;
        .premise-text{
            transform: scale(.95);
            margin: 1vh 3vw;
        }
        .premise-section-boxes{
            justify-content: space-between;
            .premise-boxes{
                margin: 0;
                transform: scale(.83);
            }
        }
    }
    footer{
        margin-top: 0;
        .top-footer{margin-bottom: 7%;}
    }
}

@media screen and (min-width: 414px){
    header.main-header{
        height: 65vh;
    }
    .premise-boxes{
        transform: scale(1);
    }
}